.button{
    background: var(--actionpurple);
    color: white;
    font-size: 1rem;
    border-radius: 8px;
    padding: 1.1rem 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--basicshadow);
}