.header{
    background: var(--mediumpurple);
    width: 100%;
    color: white;
    height: 8%;
    font-size: 1rem;
    padding: 1.25rem;
    letter-spacing: 0.02rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}