.findAccount{
    display: flex;
    flex-direction: column;
    padding: 25px;

}

.entry{
    display: flex;
    align-items: center;
}
.entry .icon{
    margin-right: 15px;
}

.list{
    padding: 0;
}