.accountTypeList{
    
}
.accountTypeItem{
    padding: 10px;
    display: flex;
    align-items: center;
    
}
.title{
    color: var(--textpurple);
    font-size: 1rem;
}
.examples{
    color: var(--mediumpurple);
    font-size: .8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;;
    max-width: 240px;
}