@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600');

html{
    touch-action: manipulation;
    overflow-x: hidden;
    position: relative;
}

*{
        /*position: relative;*/
    box-sizing: border-box;
    font-size: 17px;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 0.25px;
}

:root{
    --faintpurple: #f5f6ff;
    --actionpurple: #809cff;
    --mediumpurple: #8791C7;
    --textpurple: #352852;
    --basicshadow: 0 1px 3px 0 rgba(0,0,0,0.25);
}